name: Run JMeter Tests
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  jmeter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install JMeter
        run: |
          sudo apt-get update
          sudo apt-get install -y jmeter
      - name: Run JMeter Test
        run: |
          jmeter -n -t SampleScript.jmx -l results.jtl -Jxstream.whitelist=org.apache.jmeter.save.ScriptWrapper
